body{
  background: #000000;
}
.container{
  max-width: 600px;
  min-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: #363636;
  max-width: 400px;
}
.todos li{
  background: #363636;
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}

.delete:hover{
  color: rgb(153, 30, 30);

}